<section class="container-formulario">
    <form class="formulario">
        <mat-form-field appearance="outline">
            <mat-label>Adicione o Titulo</mat-label>
            <input type="text" matInput placeholder="Adicione o Titulo">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Adicione uma descrição</mat-label>
            <textarea matInput placeholder="Adicione uma descrição"></textarea>
        </mat-form-field>
    </form>
    <section class="container-button">
        <button mat-stroked-button color="primary">Arquivar</button>
        <button mat-stroked-button color="primary">Adicionar</button>
    </section>
</section>