.container-initial{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-project{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container-card{
    margin: 2em;
}

.container-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 2em;
}
  
.container-full-width {
    width: 100%;
}