<main class="entrada">
    <article class="sobre">
        <section class="container container-primary">
            <P class="text-container">
                Colabore e crie, seja presente desenvolvendo e elaborando artigos ou projetos que possam mudar a situação do seu lugar, ou colaborar com  outros que ja iniciaram a mudamça.
            </P>
            <img class="primary-img" src="assets/svg/undraw_collab_8oes.svg" alt="ilustrando comunidade se ajudando e organizando">
        </section>
        <section class="container container-second">
            <img class="second-img" src="assets/svg/undraw_project_team_lc5a.svg" alt="img2">
            <p class="text-container">
                Crie times ou grupos de colaboração e projetos, faça do Collab um ambiente de crescimento ciéntifico e academico.
            </p>
        </section>
    </article>
</main>
<app-login></app-login>
