<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="container-card">
            <mat-card-title>Lorem ipsum 1</mat-card-title>
            <mat-card-subtitle>Lorem</mat-card-subtitle>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id magnam at provident quia accusantium amet beatae, quod eos deleniti culpa? Esse nobis repellat iste aliquam tempore itaque cupiditate facere illo.
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="container-card">
            <mat-card-title>Lorem ipsum 2</mat-card-title>
            <mat-card-subtitle>Lorem</mat-card-subtitle>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id magnam at provident quia accusantium amet beatae, quod eos deleniti culpa? Esse nobis repellat iste aliquam tempore itaque cupiditate facere illo.
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="container-card">
            <mat-card-title>Lorem ipsum 3</mat-card-title>
            <mat-card-subtitle>Lorem</mat-card-subtitle>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id magnam at provident quia accusantium amet beatae, quod eos deleniti culpa? Esse nobis repellat iste aliquam tempore itaque cupiditate facere illo.
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="container-card">
            <mat-card-title>Lorem ipsum 4</mat-card-title>
            <mat-card-subtitle>Lorem</mat-card-subtitle>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id magnam at provident quia accusantium amet beatae, quod eos deleniti culpa? Esse nobis repellat iste aliquam tempore itaque cupiditate facere illo.
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>
