<form method="">
    <mat-form-field>
        <input class="form1" type="text" autocomplete="off" placeholder="Nome"> <br>
    </mat-form-field>
    <mat-form-field>
        <input class="form1" type="text" autocomplete="off" placeholder="Instituição de Ensino"> <br>
    </mat-form-field>
    <mat-form-field>
        <input class="form1" type="email" autocomplete="off" placeholder="E-mail Academico"> <br>
    </mat-form-field>
    <mat-form-field>
        <input class="form1" type="text" autocomplete="off" placeholder="Nome de Login"> <br>
    </mat-form-field>
    <mat-form-field>
        <input class="form1" type="password" autocomplete="off" placeholder="Senha"> <br>
    </mat-form-field>
    <mat-form-field>
        <input class="form1" type="password" autocomplete="off" placeholder="Digite Novamente sua Senha">
    </mat-form-field>

    <mat-form-field>
        <input class="termo" type="checkbox" name="termo" value="termo"> Você concorda com os termos de uso da plataforma?
    </mat-form-field>
  
    <p>A elaboração de artigos e projetos é algo de grante importancia na comunidade, você entrando é de grande estimulo pelos usuarios que se envolva. Você tem conhecimento que seu envolvimento enriquece a comuidade?</p>
    <input class="checkbox1" type="checkbox" name="termo" value="termo"> Sim
    <input class="checkbox2" type="checkbox" name="termo" value="termo"> Não

     <button class="btn">Cadastrar</button>
</form>
