<section class="container-formulario">
    <form class="formulario">
        <h2>img</h2>
        <mat-form-field appearance="outline">
            <mat-label>Diga mais sobre você</mat-label>
            <input type="text" matInput placeholder="Diga mais sobre você">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Areas de Interesse</mat-label>
            <input type="text" matInput placeholder="Areas de interesse">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input type="tel" matInput placeholder="Telefone">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input type="text" matInput placeholder="E-mail de contato">
        </mat-form-field>
        <button mat-stroked-button color="primary">Salvar Dados</button>
    </form>
</section>
